# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# macOS
.DS_Store

# Golang
*.prof
*.exe
*.test
*.report
*.out
/bin/
/tmp/
/.build/
/.devp/
go.work
go.work.sum

# test results
coverage.txt
coverage.xml

# Platform
scripts/golangci-merged.yml
graph.svg
devp_lint_report.json

target-repo/
